<style>
#home {
	position: relative;
	font-size: 17px;
	text-decoration: none;
	color: black;
	border-style: ridge;
	border-radius: 4px;
	padding: 2px;
}

#name {
	position: relative;
	border-bottom-style: solid;
	border-color: DodgerBlue;
	padding: 7px;
	background-color: rgb(165, 250, 255);
}
</style>

<title>Post {{post.id}} </title>
<a href="/" id="home">Home</a>

<h1 id="name">Name: {{ post.name }}</h1>
<h2>Author: {{ post.author }}</h2>
<hr>
<p>
Content: {{ post.content }}
</br>
Price: {{ post.price }}
</br>
Date: {{ post.datestamp }}
</br>
</p>

{% if post.poster == logged_username %}
<a href="/posts/{{ post.id }}/edit">Edit post</a><br/><br/>
{% endif %}  

{% if post.poster != logged_username and post.active %}
<form action="/posts/{{ post.id }}/buy" method="post">
  <button type="submit">Buy</button>
</form>
{% endif %}

{% if post.active == 0 %}
	Sold to {{post.buyer}}
{% endif %}

{% if post.poster == logged_username %}
<form action="/posts/{{ post.id }}/delete" method="post">
  <button type="submit">Delete post</button>
{% endif %}  
</form>
<br/>

  <br/>
</div>
