<!DOCTYPE html>
<html>
<head>
<style>
h1 {
	position: relative;
	left: 7px;
	font-size: 33px;
	border-left-style: solid;
	border-color: DodgerBlue;
	padding: 10px;
	background-color: rgb(165, 250, 255);
}

a {
	color: black;
	font-size: 20px;
	padding: 2px;
	margin: 10px;
	border-left-style: ridge;
	border-width: 2px;
}
</style>
</head>

<body>
<title>Users</title>

<h1>Users</h1>
<hr>
{% for user in users %}
<a href="/users/{{ user.id }}"><b>Username:</b> {{ user.username }} | Email: {{ user.email }} </a>
<br/>
{% endfor %}
</body>
</html>
